.maintitle{
    width:100px;
}

nav{
    background-color:#f57ae0;
    color:white;
    padding:30px;
}

h1,li,ul{
    display:inline;
}



li{
    margin-right: 10px;
    size:14px;
}
i:hover{
    color:hsl(0, 3%, 19%);
}

.middle{
    margin-left:300px;
}

.end{
    margin-left:180px;
    
}

i{
    font-size:25px;
    border-radius:50%;
    display:inline-block;
   
}

.ri-phone-fill,.ri-mail-fill{
    padding:14px;

}

.model{
    width:570px;
    padding-right:100px;
    

}
.text{
    padding-left:200px;
}

span{
color:#f57ae0;
}

.container {
    display: flex;
    align-items: center; /* Aligns items vertically centered */

}
.container h1{
    line-height:5rem;

}

.container p{
    line-height:2rem;
    margin-bottom:2rem;
    font-size:1rem;
    font-weight:500;   
}







.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    outline: none;
  }
  
  .search-container button {
    padding: 6px;
    border: 2px solid #ccc;
    border-left:none;
    background-color:#f57ae0;
    color: white;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #cb0590;
  }




  .courses{
    display:flex;
    align-items:center;
    justify-content:center;

    
    
  }

  .courses .course_image{
    padding:30px;
    border: 3px solid #ccc;
    background-color:blanchedalmond;


  }

.vid{
    border: 2px solid grey;

}

.courses div:hover{
    background-color:rgb(252, 213, 166)
}


      .course_image {
            position: relative;
            display: inline-block;
        }

        .course_image img {
            display: block;
        }

        .video-icon {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            font-size: 50px;
            color: white;
        }

        .course_image:hover .video-icon {
            display: block;
        }

        .about_container{
            display:flex;
            align-items:center;
            justify-content:center;
        }

        .about_container p{
            line-height:2rem;
        }
        .about_image img{
            padding-top:30px;
            padding-right:100px;
            padding-left:11px;

        }
         .about_text{
            padding-left:100px;
        }

        .nav_end{
            display:inline;
        }