.maintitle{
    width:100px;
}

nav{
    background-color:#f57ae0;
    color:white;
    padding:30px;
}

h1,li,ul{
    display:inline;
}

li{
    margin-right: 10px;
    size:14px;
}
i:hover{
    color:hsl(0, 3%, 19%);
}

.middle{
    margin-left:350px;
}

.end{
    margin-left:180px;
    
}

i{
    font-size:25px;
    border-radius:50%;
    display:inline-block;
   
}

.ri-phone-fill,.ri-mail-fill{
    padding:14px;

}

.model{
    width:570px;
    padding-right:100px;
    

}
.text{
    padding-left:200px;
}

span{
color:rgb(245, 122, 224);
}

.container {
    display: flex;
    align-items: center; /* Aligns items vertically centered */

}
.container h1{
    line-height:5rem;

}

.container p{
    line-height:2rem;
    margin-bottom:2rem;
    font-size:1rem;
    font-weight:500;   
}







.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    outline: none;
  }
  
  .search-container button {
    padding: 6px;
    border: 2px solid #ccc;
    border-left:none;
    background-color:#f57ae0;
    color: white;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #cb0590;
  }
